<!DOCTYPE html>
<html lang="{{ page.lang }}" dir="{{ languages[page.lang].dir or 'ltr' }}">
  <head>
    <meta charset="utf-8"/>
    <title>Docs Redirect</title>
    <meta http-equiv="refresh" content="0; URL='{{ meta.url }}/en'"/>
  </head>

  <body>
    <p>
        Your browser does not support redirects!
        <a href="{{ meta.url }}/en">See the docs here!</a>
    </p>
  </body>
</html>
